// Environment variables for the back-end application

DATABASE_URL="sqlserver://<SERVER_URL>;database=<DATABASE_NAME>;user=<USER>;password=<PASSWORD>;encrypt=false;trustServerCertificate=true"
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PORT=
CORS_ORIGIN=

// SMTP configuration for sending emails
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_SECURE=
SMTP_REQUIRE_TLS=